.project-outer{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-items: stretch;
    margin-top: 20px;
    
}

.project-header-style{
    
    font-family: "Raleway";
    font-size: 50px;
    
    color: rgb(244, 244, 142);
}

.project-list{

    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 30px;
    padding: 0 30px;
    
}

.project {
    display: flex;
    flex-direction: row;
    color: rgb(244, 244, 142);
    font-family: "Raleway";
    border: none;
    border-radius: 20px;
    box-shadow:  0px 0px 30px rgba(14, 205, 219, 0.41);
    overflow: hidden; /* ensures child elements respect the parent's rounded border */
    cursor: pointer;
    transition: 0.7s;
}

.project:hover{
    background-color: rgba(14, 205, 219, 0.136);
    
}

.project-image-container {
    flex: 1;
    width: 50%;
    margin-left: -90px;
    /* Remove margin and border */
}

.project-text{
    flex:1;
    padding:20px;
}

.project-title{
    text-decoration-line: underline;
    text-underline-offset: 5px;
    color: rgba(14, 205, 219);
}

.project-description{
    line-height: 20px;
    text-align: justify;
    font-size: 14px;
}

.project-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
