.homepage {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* NEW */
    margin: 0 auto;     /* NEW */
    box-sizing: border-box;
}

.information{
    display: flex;
    flex-direction: row;
    align-items: flex-start; /*it was center;*/
    border-style: none;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    
}

.profile{
    width: 600px;
    justify-content: center;
    align-items: center;
}

.information-biography{
    flex: 800px;
    justify-content: center;
    align-items: center;
}

.skills{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 20px;
    align-items: left;
 
}

.skills-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.skills-header{
    margin: 0;
    padding: 0;
    color: #f4f48e;
    font-family: "raleway",sans-serif;
    font-size: 30px;
   
}

.level-header{
    margin: 0;
    padding: 0;
    color: #f4f48e;
    font-family: "raleway",sans-serif;
    font-size: 30px;
    
}

.skills-level{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

@keyframes glow {
    0% {
    filter: drop-shadow(0 0 20px rgba(0, 238, 255,0.4));
    }
    50% {
        filter: drop-shadow(0 0 30px rgba(244, 244, 142, 0.635));
    }
    100% {
        filter: drop-shadow(0 0 20px rgba(0, 255, 255, 0.426));
    }
}

.profile-pic{
    display: block;
    padding-top: 90px;

    width: 60%;
    margin: 0 auto ;
    position: relative;
    animation: glow 5s infinite;
    z-index: 4;
}

.profile-name{
    display: block;
    
    text-align: center;
    padding-top: 40px;

}

.profile-name-name{
    font-family: "Raleway",sans-serif;
    font-size: 20px;
    color: rgb(244, 244, 142);
}

.profile-name-card{
    font-family: "Raleway",sans-serif;
    font-size: 15px;
    color: rgb(252, 252, 252);
    line-height: 25px;
}

.icon-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-left: 55px;
    margin-right: 55px;
}

.biography-header{
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    color: rgb(244, 244, 142);
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.biography-text{
    font-family: "Raleway", sans-serif;
    color: rgba(255, 255, 255, 0.852);
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
    text-align: justify;
    font-size: 15px;
}

